body{
    margin: 0%;
}

#centro{
    max-width: 1000px;
    height:760px;
    margin-top:5%;
    background-image: url(../IMG/manelgomes.PNG);
    background-repeat: no-repeat;
    background-size: cover;
 
  
}

.rodapee{
    background-color: antiquewhite;

}

.row {
    --bs-gutter-x: -0.5rem;
}